<div>
  <div>
    <span> <h1>Title: {{current.name}}</h1></span> 
  </div>
  <div>
    <!-- this would be an image of the show -->
    <div>
      <img [src]='current.image'/>
    </div>
    Summary: {{current.summary}}
    <br/>
  <div> 
    <span>Genres:{{current.genres}},</span>
  </div>
     <span>Schedule: {{current.days}} at {{current.time}}</span>
    <div><span>Rating: {{current.rating}}</span> </div> 
  <div>Network:{{current.network}}</div>
  <div>Runtime: {{current.runtime}}</div>
   <div> 
    <span>premired: {{current.premiered}}</span></div>
      <div> 
        <span>Ended: {{current.ending}}</span></div>
  </div>
</div>