<div style="text-align: left">
 <mat-toolbar class="header" color="primary"> <h1>Team 2's awesome TV show app assignemtn #1</h1></mat-toolbar>
  <!-- this would be where ShowSearch component added -->
  <h2 style="text-align:center">You can look up shows using this cool app!</h2>
  <div style="width: 500px; margin: auto; padding: 5px">
  <br>
  <br>
  <div><app-search-tvshow (searchShow)="doSearch($event)"></app-search-tvshow></div>
<mat-card><app-current-show [current]="currentShow"></app-current-show></mat-card>
</div>
<footer style="text-align:center">
  Copyright © 2022 Team2
</footer>
</div>